@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,700i,900i');

$background : #0e0e0e;
body {
    margin: 0;
    background: $background;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 900;
}
.playButton {
    margin-right:1000px;
}
#player {
    position: fixed;
    bottom:0;
    width: 100%;
    z-index: 999999999;
    audio#audioElement {
        width: 100%;
    }
    progress {
        width: 100% !important;
    }
}


.leftNav, .leftNav div {
    background-color: $background!important;
    color: #d1d1d1;
    ul {
        margin-top: 20px;
        padding: 0;
    }
    li {
        &:hover{
            background: #171717;
            a {
                border-right: 3px solid #01ede9;
                color: #01ede9;
                margin-left: 5px;  }
        }
        list-style: none;
        a{
            transition: .3s;
            padding:10px 0 10px 25px;
            display: block;
            color: #fff;
            text-decoration: none;
        }
    }
}
#logo {
    position: fixed;
    top: 10px;
    left: 60px;
    z-index: 9999;
}

.masthead {
    .background {
        width: 100%;
        height:350px;
        background: url('../images/rzik-masthead.jpg');
    }
    span {
        i {
            font-weight: normal;
        }
        position: absolute;
        top: 235px;
        left: 35%;
        font-size: 50px;
    }
    width: 100%;
    height:350px;
}

.selector{
    -webkit-filter: url("#blur");
    filter: url("#blur");
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}
.card {
    font-size:12px !important;
    width: 250px;
    .text {
        font-size: 12px!important;
        font-style: normal;
        color:grey !important;
        font-weight: normal;
    }
}

.appNav {
    background-color: rgb(7,7,7) !important;
    position: fixed!important;
    top: 0!important;
}

.DefaultLayoutComponent {
    margin : 1em 1em 0em;
    transition: margin-left 450ms cubic-bezier(0.23, 1, 0.32, 1);
    margin-top : 84px;
}

form {
    input[type="file"] {
        display : none;
    }
    .field-line {
        display: block;
    }
    .margin-top {
        margin-top: 1em;
    }

    .image_cover {
            position: absolute;
            top: 0;
            width: 80%;
            height: 0;
            background-size: cover !important;
            background-position: 50%;
            background-repeat: no-repeat;
            padding: 40.805% 0% 30.805% 0%;
            // max-height: 90%;
            // background-size: contain;
            // width: 80%;
    }
    .image_cover.z-index {
        z-index : 10
    }
    .show-image {
        position: relative;
        margin-top: 1em;
        left: 30px;
        .cover-delete {
            background-color: transparent;
            display: none;
            position: absolute;
            z-index: 3;
            // width: 62px;
            // height: 62px;
            // margin-left: -31px;
            margin-top: -31px;
            // top: 50%;
            // left: 50%;
            color: #fff;
            // border: 1px solid #a0a0a0;
            // border-radius: 500px;
            box-sizing: content-box;
            outline: 0;
            cursor: pointer;
            -webkit-transition: all .3s cubic-bezier(0,0,0,2.41);
            transition: all .3s cubic-bezier(0,0,0,2.41);
            // position: relative;
            left: 43%;
            top: 50%;
            // z-index: 10;
            width: 36px;
            height: 46px;
            border: 1px solid white;
            border-radius: 500px;
            background-color: transparent;
            color: #fff;
            transition: transform .3s cubic-bezier(0,0,0,2.41);
            // visibility: hidden;
            &:hover {
                transform: scale(1.2);
            }
            &:focus {
                outline: 0px
            }
        }
    }
    .show-image:hover {
        .image_cover:not(.z-index) {
            -webkit-filter: brightness(.3);
            filter: brightness(.3);
            -webkit-transition: .2s;
            transition: .2s;
        }
        .cover-delete {
            // visibility: visible;
            display: block;
        }
    }
    .upload-action-button {
        margin-top: 1em;
    }
    input,
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {

        border: 0px solid transparent;
        -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
        -webkit-text-fill-color: white;
        background-color : transparent;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
    }

}

li.preview {
    height: 90px;
    .line {
        padding-left: 120px;
        .second_line {
            font-size : 17px !important;
        }
    }
    .cover {
        float: left;
        position: relative;
        .image {
            background-size: cover !important;
            width : 100px;
            height : 75px;
        }
        .image-button {
            position: absolute;
            top:0px;
            button {
                display: none;
                position: relative;
                top: 30%;
                left: 36%;
                width: 36px;
                height: 36px;
                border: 1px solid white;
                border-radius: 500px;
                background-color: transparent;
                color: #fff;
                transition: transform 0.3s cubic-bezier(0, 0, 0, 2.41);
            }
        }
    }
    .line div {
        height: 25px;
            
    }

    .action {
        height: 75px;
        float : right;
    }
}

li.preview .cover:hover {
    .image {
        -webkit-filter: brightness(.3);
        filter: brightness(.3);
        -webkit-transition: .2s;
        transition: .2s;
        button {
            display: block;
        }
    }
}

#audioElement {
    display : none;
}
.track-info__artist {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #a0a0a0;
}
.player-container {
    min-width: 620px;
    background-color: #282828;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    .player-bar {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: 90px;
        padding: 0 16px;

        .player-bar__left { 
            width: 30%;
            min-width: 180px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            .cover-art {
                background-size: cover !important;
                flex-shrink: 0;
                width: 56px;
                height: 56px;
                margin-right: 14px!important;
                cursor: pointer;
            }

        }
        .player-bar__center { 
            width: 40%;
            max-width: 722px;
            .player-controls {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-direction: normal;
                -webkit-box-orient: vertical;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;

                .player-controls__buttons {
                    display: flex;
                    align-items: center;
                    margin-bottom: 12px;
                    cursor: default;
                    width: 150px;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    -webkit-box-orient: horizontal;
                    -ms-flex-direction: row;
                    flex-direction: row;
                    -ms-flex-wrap: nowrap;
                    flex-wrap: nowrap;

                    .skip-backward, .skip-forward  {
                        font-weight: 400;
                        font-size: 16px;
                    }
                    .control-button {
                        outline : 0;
                        background-color: transparent;
                        border: none;
                        color: #a0a0a0;
                        cursor: pointer;
                        width: 32px;
                        min-width: 32px;
                        height: 32px;
                        position: relative;
                        -webkit-transition: all 33ms cubic-bezier(.3,0,.7,1);
                        transition: all 33ms cubic-bezier(.3,0,.7,1);
                    }
                    .control-button:hover {
                        color : white;
                        border-color : white;
                    }

                    .control-button--circled {
                        border-radius : 500px;
                        margin-left: 2px;
                        border : 1px solid #a0a0a0;
                        i {
                            margin-left: 2px;
                        }
                    }
                    .control-button--circled:hover {
                        -webkit-transform: scale(1.125);
                        transform: scale(1.125);

                    }

                }
                .player-playback-bar {
                    width: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                    flex-direction: row;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;

                    .player-playback-bar__progress-time {
                        font-weight: 400;
                        color: #a0a0a0;
                        font-size: 11px;
                        min-width: 40px;
                        text-align: center;
                        cursor: default;
                    }
                }
                .player-progress-bar {
                    cursor: pointer;
                    height: 12px;
                    position: relative;
                    width: 100%;

                    .progress-bar__bg{
                        background-color: #404040;
                        border-radius: 2px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        /* height: 4px; */
                        width: 100%;

                        .progress-bar__fg {
                            background-color: #a0a0a0;
                            border-radius: 2px;
                            height: 4px;
                            width: 0;
                            -webkit-transition: background-color .1s cubic-bezier(.3,0,.7,1);
                            transition: background-color .1s cubic-bezier(.3,0,.7,1);
                        }
                    }
                    .middle-align {
                        position: absolute;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }
                }
            }
        }
        .player-bar__right { 
            width: 30%;
            min-width: 180px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
        }
        
    }

}
.authlayout {
    position: relative;
    .authlayout-background img{
        position : absolute;
        width : 100%;
        height: 100vh;
        z-index: 0;
    }

    form {
        background: rgba(0, 0, 0, .3);
        width: 300px;
        position: relative;
        text-align: center;
        margin: 0 auto;
        top: 50vh;
        padding-bottom : 15px;
        button {
            font-weight: 800;
            background: transparent;
            border: solid 2px white;
            z-index: 1;
            font-size: 15px;
            width: 200px;
            padding: 12px 48px;
            text-align: center;
            color: white;
            border: solid 2px white;
            z-index: 1;
            margin-top: 15px;

        }
    }

        .feelthesound-container {
            width : 99%;
            position : absolute;
            & > div {
                position: absolute;
                left: 0;
            }
            .white {
                color: white;
                z-index: 3;
                right: 0;
            }
            .blue {
                color: cyan;
                z-index: 2;
                right: -6px;
            }
            .red {
                color: red;
                right: -12px;
                z-index: 1;
            }
            position: relative;
            text-align: center;
            margin: auto 0;
            top: 40vh;
            font-size: 40px;
            .feelthesound {
                margin-right: 15px;
            }
            .emotion {
                font-weight: 100;
            }
        }
        
    }
    .login-container {
        & > div {
        }
}
