body {
    margin: 0;
}
.DefaultLayoutComponent {
    margin : 1em 1em 0em;
}

form {
    input[type="file"] {
        display : none;
    }
    .field-line {
        display: block;
    }
    .margin-top {
        margin-top: 1em;
    }

    #image_cover {
        width: 90%;
        padding: 1em;
    }
}
